@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff



******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*********************************
2. Body and some general stuff
*********************************/

:root
{
	--font1: "Work Sans", sans-serif;
	--font2: "Raleway", sans-serif;
	--gray1: #332B19;
	--greenMid: #60D186;
	--greenLight: #a0e3b6;
	--greenLighter: #8CB89A;
	--greenDark: #20452c;
	--white: #ffffff;
	--black: #000000;
    --black80: rgba(0,0,0,0.8);
	--dark: #0D1C12;
	--bgPrimary: #FAFFFC;
	--accent1: #D4A584;
}
*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	-moz-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	-o-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: var(--font1);
	font-size: 14px;
	font-weight: 400;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: var(--font1);
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #929191;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 19px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: var(--font1);
    color: var(--black);
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	margin-bottom: 0;
    font-weight: 600;
}
img
{
	max-width: 100%;
}
button:active
{
	outline: none;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
	height: 100%;
}
.slide
{
	height: 100%;
}

/*********************************
3. Header
*********************************/

.header
{
	position: relative;
	left: 0;
	background-color: var(--white);
	width: 100%;
}
.header.scrolled
{
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.075);
}
.navbar.scrolled
{
	/* padding-top: 25px;
	padding-bottom: 25px; */
}
.main_nav_container
{
	max-width: 100%;
    padding-left: 14px;
    flex-wrap: wrap;
    padding-top: 53px;
    padding-bottom: 40px;
}
/* fixer */
.main_nav_container .container-fluid
{
	padding-left: 0!important;
	padding-right: 0!important;
}
.navbar
{
	display: table;
	position: relative;
	height: 40px;
}
.navbar-header
{
	float: left;
	margin-top: 2px;
    margin-left: -3px;
}
.navbar-header a
{
	font-family: var(--font1);
	font-size: 18px;
	color: #332B19;
	font-weight: 700;
}
.main_nav
{
	margin-right: auto;
}
.brand_text
{
	font-family: var(--font1);
	font-size: 18px;
	color: var(--gray1);
	font-weight: 700;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
	padding-left: 5px;
	margin-right: 16px;
}
.nav_links
{
	padding-top: 3px;
}
.nav_links ul
{
    padding-left: 0!important;
}
.nav_links ul li:not(:last-child)
{
	margin-right: 17px;
}
.nav_links ul li a
{
	font-family: var(--font1);
	font-size: 18px;
	color: var(--gray1);
	font-weight: 400;
}
.nav_links ul li a:hover
{
	color: var(--greenMid);
}
/* Login Button */
.login_button
{
	/* Login  */

	box-sizing: border-box;

	/* Auto layout */

	width: 112px;
	height: 37px;

	background: #60D186;
	border: 1px solid rgba(255, 255, 255, 0.16);
	border-radius: 6px;

	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
	/* Font */
	font-family: var(--font1);
	font-size: 18px;
	font-weight: 500;
	color: var(--gray1);
	letter-spacing: 0.01rem;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}
.login_button:hover
{
	background-color: var(--greenLight);
}
.navbar-toggler
{
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 10px;
	flex-basis: 32px;
	flex-grow: 0;
	flex-shrink: 0;

	width: 32px;
	height: 32px;

	background: #60D186;
	border-radius: 6px;
	z-index: 1001;
	border: none!important;
	outline: none!important;
}
.navbar-toggler:hover
{
	background-color: var(--greenLight);
}
.navbar-toggler:focus,
.navbar-toggler:focus-visible
{
    outline: none;
    box-shadow: none;
}
.navbar-toggler .navbar-toggler-default
{
	display: flex;
}
.navbar-toggler .navbar-toggler-toggled
{
	display: none;
}
.navbar-toggler.active .navbar-toggler-default
{
	display: none;
}
.navbar-toggler.active .navbar-toggler-toggled
{
	display: flex;
}
.greeting
{
    white-space: nowrap;
	margin-left: auto;
}
.greeting span
{
    font-family: var(--font1);
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
}
.greeting span:last-of-type
{
    font-weight: 600;
}

/*********************************
3. Dashboard
*********************************/

.dashboard_container
{
    width: 100%;
    height: 954px;
    background-color: var(--white);
    padding-left: 50px;
    padding-bottom: 42px;
    padding-left: 48px;
    padding-right: 81px;
}
.dashboard_container_inner
{
    height: 100%;
}
.sidebar
{
    width: 187px;
    height: 100%;
    /* background-color: var(--greenLight); */
    flex-shrink: 0;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 32px;
}
.main_content
{
    height: 100%;
    background-color: #FAFAFA;
    flex-grow: 1;
    border-radius: 12px;
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.main_links
{
    height: 100%;
    padding-bottom: 60px;
}
.main_links ul
{
    height: 100%;
    padding-left: 0!important;
}
.main_links ul li
{
    display: block;
    height: 36px;
    border-radius: 6px;
}
.main_links ul li:not(:last-of-type)
{
    margin-bottom: 16px;
}
.main_links ul li:last-of-type
{
    
}
.main_links ul li:hover, .main_links ul li.active
{
    background-color: var(--greenLight);
}
.main_links ul li a
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 100%;
    padding-left: 6px;
}
.main_links ul li a img
{
    margin-right: 6px;
}
.main_links ul li a span
{
    font-family: var(--font1);
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
}
.main_links ul li:hover a span, .main_links ul li.active a span
{
    font-weight: 600;
}
.main_content_title
{
    text-decoration: underline;
    text-decoration-color: var(--greenMid);
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}
.main_section
{
    margin-top: 43px;
    padding-bottom: 34px;
}
.main_content > section:not(:last-of-type)
{
    border-bottom: solid 1px #dcdbd7;
}
.main_content > section:last-of-type
{
    padding-bottom: 0;
}
.section_title
{
    width: 47.5%;
}
.section_title p
{
    font-family: var(--font1);
    font-size: 14px;
    font-weight: 400;
    color: var(--black80);
    margin-top: -1px;
    max-width: 80%;
    line-height: 1.2;
}
.section_form
{
    width: 52.5%;
    margin-top: -3px;
}
form label
{
    display: block;
    font-family: var(--font1);
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 2px;
}
.custom_input
{
    display: block;
    width: 100%;
    height: 38px;
    border: solid 1px #b3b3b3;
    border-radius: 6px;
    padding-left: 11px;
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
}
.custom_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
    color: var(--black);
}
.custom_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
    color: var(--black);
}
.custom_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
    color: var(--black);
} 
.custom_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
    color: var(--black);
}
.custom_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
    color: var(--black);
}
form > div:not(:last-of-type)
{
    margin-bottom: 18px;
}
.section_info_container ul
{
    padding-left: 0!important;
}
.section_info > span
{
    display: block;
    font-family: var(--font1);
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}
.section_info p
{
    font-size: 14px;
    font-weight: 600;
    color: var(--black);
    margin-top: -4px;
}
.section_info p span
{
    font-weight: 400;
}
.section_info:not(:last-child)
{
    margin-bottom: 12px;
}
.button_container
{
    margin-top: 26px;
}
.save_changes_button
{
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    gap: 10px;
    width: 184px;
    height: 37px;

    background: #60D186;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 6px;

    /* Inside auto layout */
    flex: none;
    order: 5;
    flex-grow: 0;
    z-index: 5;
}
.save_changes_button:hover
{
    background-color: var(--greenLight);
}
.save_changes_button span
{
	font-family: var(--font1);
    font-size: 18px;
    font-weight: 400;
	color: #332B19;
    white-space: nowrap;
}
.menu
{
	position: relative;
	width: 100%;
	height: 0px;
	background-color: var(--white);
	visibility: hidden;
}
.menu.active
{
	height: 400px;
	visibility: visible;
}
.menu .sidebar
{
	padding-left: 16px;
	padding-top: 15px;
	width: 100%;
	height: auto;
}
.sidebar .navbar-header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	float: none;
	background-color: var(--white);
	padding-top: 16px;
    padding-bottom: 18px;
    padding-left: 17px;
	z-index: 999;
	margin-top: 0;
	margin-left: 0;
}